.hero-section {
  background: #5cb85c;
  color: white;
  padding: 100px 500px;
  text-align: center;
//   margin: 50px 0;

  h1 {
    font-size: 50px;
    margin: 20px 0;
    font-weight: 900;
  }
  p {
    font-size: 22px;
  }
}
